@font-face {
  font-family: 'Garamond Premier Pro';
  src: url('/assets/GaramondPremierPro-Regular.otf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
    font-family: 'Garamond Premier Pro', 'Garamond', serif;
    background-color: #ffffff;
}

body {
    font-size: 16px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 72px 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
}

.global-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.global-container::before {
  content: "";
  pointer-events: none;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, .738) 19%, hsla(0, 0%, 100%, .541) 34%, hsla(0, 0%, 100%, .382) 47%, hsla(0, 0%, 100%, .278) 56.5%, hsla(0, 0%, 100%, .194) 65%, hsla(0, 0%, 100%, .126) 73%, hsla(0, 0%, 100%, .075) 80.2%, hsla(0, 0%, 100%, .042) 86.1%, hsla(0, 0%, 100%, .021) 91%, hsla(0, 0%, 100%, .008) 95.2%, hsla(0, 0%, 100%, .002) 98.2%, hsla(0, 0%, 100%, 0));
}

.container {
  width: 100%;
}

h1 {
  font-size: 16px;
  font-style: italic;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 48px 0 48px 0;
  gap: 16px;
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #000;
  opacity: 0.1;
}

li {
  max-width: 475px;
}

.citation {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 12px;
  opacity: 0.5;
}

.citation-middle {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 24px 0 12px 0;
}

.list-break {
  margin-top: 24px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.intro-link {
  color: #000;
  text-decoration: underline !important;
}

.year-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin: 24px 0 48px 0;
}

h2 {
  width: 50px;
  font-size: 12px;
  opacity: 0.5;
}

header {
  margin-bottom: 72px;
}

.header-image {
  width: 250px;
  height: auto;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
  rotate: 1deg;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {

  .year-section {
    flex-direction: column;
  }

  h2 {
    font-size: 16px;
    opacity: 1;
    font-style: italic;
  }

  body {
    padding: 48px 24px
  }

  header {
    margin-bottom: 48px;
  }

  .citation-middle {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    margin: 12px 0 12px 0;
  }

}

@media screen and (max-width: 768px) {

  .global-container::before {
      height: 2.5rem;
  }

}